<h3 style="text-align:center">Sub Privacy Policy Form</h3>
<p-growl [value]="msgs"></p-growl>
<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-12">
            <div class="col-xs-4 form-group">
                <label style="padding-right:5px">Policy Identifier :</label>
                <input type="text" size="21" pInputText [(ngModel)]="policy_id" />
            </div>
            <div class="col-xs-8 form-group">
                <label style="padding-right:5px">Description :</label>
                <input type="text" size="70" pInputText [(ngModel)]="description" />
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-4 form-group">
                <label style="padding-right:35px">Field Name :</label>
                <p-dropdown [options]="collection_names" [(ngModel)]="collection_selected_name"
                            [style]="{'width':'180px'}" (onChange)="onSelectCollectionName($event.value)"></p-dropdown>
            </div>
            <div class="col-xs-4 form-group">
                <label style="padding-right:35px">Domain :</label>
                <p-dropdown [options]="configured_domain_names" [(ngModel)]="configured_domain_selected_name"
                            [style]="{'width':'180px'}" (onChange)="onSelectCollectionName($event.value)"></p-dropdown>
            </div>
            <div class="col-xs-4 form-group">
                <label style="padding-right:5px">Priority :</label>
                <input type="number" size="20" pInputText [(ngModel)]="priority"/>
            </div>
        </div>

    </div>
    <div class="col-xs-6">
        <!-- Rule -->
        <div class="col-xs-12">
            <div class="col-xs-4 form-group">
                <label>Current Rule :</label>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="col-xs-12 form-group">
                <button class="ui-button-info" pButton type="button" label="AND" (click)="and_click()"></button>
                <button class="ui-button-info" pButton type="button" label="OR" (click)="or_click()"></button>
                <button class="ui-button-info" pButton type="button" label="NOT" (click)="not_click()"></button>
                <button class="ui-button-info" pButton type="button" label="(" (click)="open_bracket_click()"></button>
                <button class="ui-button-info" pButton type="button" label=")" (click)="close_bracket_click()"></button>
                <button class="ui-button-info" pButton type="button" label="," (click)="comma_click()"></button>
                <button class="ui-button-info" pButton type="button" label="CLEAR" (click)="clear_rule()"></button>
            </div>

        </div>
        <div class="col-xs-12">
            <textarea style="border-color: black" rows="2" cols="70" pInputTextarea
                      [(ngModel)]="current_rule_result" [disabled]="true"></textarea>
        </div>
        <div class="col-xs-12">
            <p-dataTable [value]="field_effects" [editable]="true">
                <p-column field="Name" header="Property Name" [editable]="false"></p-column>
                <p-column field="FunctionApply" header="Privacy Function"
                          [editable]="true" [style]="{'overflow':'visible'}">
                    <template let-col let-car="rowData" pTemplate="editor">
                        <p-dropdown [(ngModel)]="car[col.field]" [options]="getPrivacyFunctions(car.Name)"
                                    [autoWidth]="false" [style]="{'width':'100%'}" required="true"></p-dropdown>
                    </template>
                </p-column>
            </p-dataTable>
        </div>
        <div class="col-xs-12" style="padding-top: 5px">
            <div class="col-xs-6 form-group">
                <label style="padding-right:5px">Rule Id :</label>
                <input type="text" size="17" pInputText [(ngModel)]="rule_id" />
            </div>
            <div class="col-xs-6 col-lg-4 form-group">
                <button class="ui-button-info" pButton type="button" label="Add Current Rule" (click)="add_current_rule()"></button>
            </div>
        </div>

        <div class="col-xs-12" *ngIf="privacy_rules.length > 0">
            <p-dataTable [value]="privacy_rules" [editable]="true">
                <p-column field="RuleID" header="Rule ID" [editable]="true"></p-column>
                <p-column field="Condition" header="Condition" [editable]="true" [style]="{'width':'400px'}"></p-column>
            </p-dataTable>
        </div>
    </div>
    <div class="col-xs-6">
        <p-fieldset legend="Utility" [toggleable]="true">
            <div class="col-xs-12">
                <div class="col-xs-4 col-lg-4 form-group">
                    <label style="padding-right:13px">Function Name: </label>
                    <p-dropdown [options]="function_names" [(ngModel)]="selected_function_name" [style]="{'width':'150px'}"></p-dropdown>
                </div>
                <div class="col-xs-4 col-lg-4 form-group" style="padding-top:25px">
                    <button class="ui-button-info" pButton type="button" label="Add To Rule" (click)="add_function_name_to_rule()"></button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 col-lg-4 form-group">
                    <label style="padding-right:13px">Resource Field: </label>
                    <p-dropdown [options]="resource_fields" [(ngModel)]="resource_selected_field" [style]="{'width':'150px'}"></p-dropdown>
                </div>
                <div class="col-xs-4 col-lg-4 form-group" style="padding-top:25px">
                    <button class="ui-button-info" pButton type="button" label="Add To Rule" (click)="add_resource_field_to_rule()"></button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-4 col-lg-4 form-group">
                    <label style="padding-right:28px">Subject Field: </label>
                    <p-dropdown [options]="subject_fields" [(ngModel)]="selected_subject_field" [style]="{'width':'150px'}"></p-dropdown>
                </div>
                <div class="col-xs-4 col-lg-4 form-group" style="padding-top:25px">
                    <button class="ui-button-info" pButton type="button" label="Add To Rule" (click)="add_subject_field_to_rule()"></button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 col-lg-4 form-group">
                    <label style="padding-right:13px">Constant Value: </label>
                    <input type="text" size="17" pInputText [(ngModel)]="constant_value" />
                </div>
                <div class="col-xs-6 col-lg-4 form-group" style="padding-top:25px">
                    <button class="ui-button-info" pButton type="button" label="Add To Rule" (click)="add_constant_value_to_rule()"></button>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="col-xs-6 col-lg-4 form-group">
                    <label style="">Environment Field: </label>
                    <p-autoComplete [(ngModel)]="environment_value" [suggestions]="environment_filtered_field" (completeMethod)="filter_environment_field($event)"
                                    [minLength]="1" [size]="17">
                    </p-autoComplete>
                </div>
                <div class="col-xs-6 col-lg-4 form-group" style="padding-top:25px">
                    <button class="ui-button-info" pButton type="button" label="Add To Rule" (click)="add_environment_value_to_rule()"></button>
                </div>
            </div>

        </p-fieldset>

    </div>
    <div class="col-lg-12 text-center">
        <button class="btn btn-success btn-lg" type="button" style="height:90%" (click)="submit()">Create</button>
    </div>
</div>